<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-2 mb-1">{{ 'ANALYST.ANALYST_DETAIL' | translate }}: <span class="text-primary">{{ analysis_name }}</span></span>
        </h3>
        <div class="card-toolbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="
                    nav-link
                    btn btn-sm btn-color-muted btn-active btn-active-light-primary
                    fw-bolder
                    px-4
                    me-1
                  " data-bs-toggle="tab" [ngClass]="activeClass('variant_list')"
                        (click)="setTab('variant_list')">
                        {{ 'ANALYST.VARIANT_LIST' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="
                    nav-link
                    btn btn-sm btn-color-muted btn-active btn-active-light-primary
                    fw-bolder
                    px-4
                    me-1
                  " data-bs-toggle="tab" [ngClass]="activeClass('clinical_summary')"
                        (click)="setTab('clinical_summary')">
                        {{ 'ANALYST.CLINICAL_SUMMARY' | translate }}
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isBasicPlan || isAdmin">
                    <a class="
                    nav-link
                    btn btn-sm btn-color-muted btn-active btn-active-light-primary
                    fw-bolder
                    px-4
                    me-1
                  " data-bs-toggle="tab" [ngClass]="activeClass('quality_control')"
                        (click)="setTab('quality_control')">
                        {{ 'ANALYST.QUANLITY_CONTROL' | translate }}
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isBasicPlan || isAdmin">
                    <a class="
                    nav-link
                    btn btn-sm btn-color-muted btn-active btn-active-light-primary
                    fw-bolder
                    px-4
                    me-1
                  " data-bs-toggle="tab" [ngClass]="activeClass('variant_report')"
                        (click)="setTab('variant_report')">
                        {{ 'ANALYST.VARIANT_REPORT' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="
                    nav-link
                    btn btn-sm btn-color-muted btn-active btn-active-light-primary
                    fw-bolder
                    px-4
                    me-1
                  " data-bs-toggle="tab" [ngClass]="activeClass('patient_information')"
                        (click)="setTab('patient_information')">
                        {{ 'ANALYST.PATIENT_INFORMATION' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
        <div class="tab-content">
            <!-- begin::Tap pane -->
            <div class="tab-pane fade" *ngIf="activeTab === 'quality_control' && (isAdmin || !isBasicPlan)"[ngClass]="activeClass('quality_control')" id="quality_control">
                <div style="min-height: 800px !important">
                    <app-quality-control [id]="id"></app-quality-control>
                </div>
            </div>
            <!-- end::Tap pane -->
            <!-- begin::Tap pane -->
            <div class="tab-pane fade" *ngIf="activeTab === 'variant_list'" [ngClass]="activeClass('variant_list')" id="variant_list">
                <div style="min-height: 800px !important">
                    <app-variant-list [id]="id"></app-variant-list>
                </div>
            </div>
            <!-- end::Tap pane -->
            <!-- begin::Tap pane -->
            <div class="tab-pane fade" *ngIf="activeTab === 'variant_report' && (isAdmin || !isBasicPlan)" [ngClass]="activeClass('variant_report')" id="variant_report">
                <div style="min-height: 800px !important">
                    <app-analysis-report-variant [id]="id"></app-analysis-report-variant>
                </div>
            </div>
            <!-- end::Tap pane -->
            <!-- begin::Tap pane -->
            <div class="tab-pane fade" *ngIf="activeTab === 'patient_information'" [ngClass]="activeClass('patient_information')" id="patient_information">
                <div>
                    <app-patient-information [id]="id"></app-patient-information>
                </div>
            </div>
            <!-- end::Tap pane -->
            <!-- begin::Tap pane -->
            <div class="tab-pane fade" *ngIf="activeTab === 'clinical_summary'" [ngClass]="activeClass('clinical_summary')" id="clinical_summary">
                <div style="min-height: 600px">
                    <app-clinical-summary [id]="id"></app-clinical-summary>
                </div>
            </div>
            <!-- end::Tap pane -->
        </div>
    </div>
    <!-- begin::Body -->
</div>